:root {
  --background-color: #e5e9f0;
  --primary-color: #5e81ac;
  --text-color: #2e3440;
  --text-secondary-color: #4c566a;
  --dark-background-color: var(--text-color);
  --error-color: #bf616a;
  --success-color: #a3be8c;
  --disabled-color: #d3d3d3;

  --box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);
  --border-radius: 8px;
  --transition: all 0.3s ease-in-out;
  --hover-box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.1);
  --gap: 16px;
}
